# server block for static file serving
server {
  listen 80;
  root /opt/build-your-own-radar;
  location / {
    try_files $uri /index.html;
  }

  # custom error page for 404 errors
  error_page 404 /error.html;

  # nginx default error page for 50x errors
  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/share/nginx/html;
  }
}