.button {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-out;
  box-shadow: inset 0 0 0 1px $black;
  background-color: transparent;
  color: $black;
  min-width: 220px;
  text-transform: capitalize;
  text-decoration: none;

  &.no-capitalize {
    text-transform: none;
  }

  &:hover, &.selected {
    opacity: .8;

    &.first {
      color: white;
      box-shadow: none;
      background-color: $green;
    }

    &.second {
      color: white;
      box-shadow: none;
      background-color: $blue;
    }

    &.third {
      color: white;
      box-shadow: none;
      background-color: $orange;
    }

    &.fourth {
      color: white;
      box-shadow: none;
      background-color: $violet;
    }
  }

  &.full-view {

    &.first {
      box-shadow: none;
      background-color: $green;
      color: $white;
    }

    &.second {
      box-shadow: none;
      background-color: $blue;
      color: $white;
    }

    &.third {
      box-shadow: none;
      background-color: $orange;
      color: $white;
    }

    &.fourth {
      box-shadow: none;
      background-color: $violet;
      color: $white;
    }
  }

  &_department {
    min-width: 160px;

    &:hover,
    &.selected {
      opacity: 1;
      background-color: $black;
      color: $white;
    }
  }
}

.radar-header {
  text-align: center;

  .radar-title, .buttons-group, #alternative-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
  }

  .radar-title {
    background-color: $grey-light;
    padding: 30px 0;

    display: table;
    margin: auto;
    width: 100%;

    .radar-title__text {

      display: table-cell;
      width: 70%;

      text-align: left;
      padding-left: 10%;

      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .radar-title__logo {
      flex: 0 0 30%;
      margin-left: auto;

      width: 30%;
      display: table-cell;
      vertical-align: middle;

      a {
        border-bottom: none;
      }

      img {
        vertical-align: middle;
        width: 34%;
      }
    }
  }


  .quadrant-btn--group, .multiple-sheet-button-group {
    text-align: left;
    padding-left: 10%;
  }

  .print-radar-btn, .search-box {
    margin-left: auto;
    margin-right: 10%;
  }

  .buttons-group {
    //padding: 15px 0 25px;
    padding: 8px 0;
  }

  .home-link-wrapper {
    text-align: left;
    margin: 0 10%;
  }

  .home-link {
    display: inline-block;
    margin-top: 8px;
    padding-left: 36px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #5BA9E1;
    text-align: left;
    cursor: pointer;
    background-image: url("/images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0;
  }

  .print-radar {
    min-width: 40px;
    margin-right: 0;
    font-size: 0;
    background-image: url("/images/print.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px;
  }

  #alternative-buttons {
    margin-bottom: 50px;

    .highlight {
      border-bottom: none;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .multiple-sheet-button {
      margin-right: 10px;
    }

    .search-radar {
      width: 240px;
      padding: 9px 40px;
      border-radius: 4px;
      background-color: inherit;
      background-image: url("/images/search.svg");
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 8px;
    }
  }
}

.ui-autocomplete {
  width: 275px !important;

  .ui-menu-item {
    white-space: normal;
    font-size: 14px;
    font-weight: 400;

    .ui-menu-item-wrapper {
      padding: 5px 10px;
    }
  }
}

.header {
  //background: radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #212126;
  background-color: #212126;

  &__nav {
    display: flex;
  }

  &__logo {
    display: inline-block;
    width: 94px;
    height: 32px;
    margin: 24px 196px 28px 0;

    img {
      width: 100%;
    }
  }
}

.nav-menu {
  list-style: none;
  margin: 32px 0;
  padding: 0;
  display: flex;

  &__item + &__item {
    margin-left: 40px;
  }

  &__link {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.3;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
